*{
    font-size: small;
}
#invoice {
    width: 90%;
}
.note {
    font-size: smaller;
}
.bold {
    font-weight: bold;
}
th {
    text-align: left;
}
h1 {
    font-size: large;
    font-weight: bold;
}